{% extends "base.html" %}
{% from "_page_macros.html" import page_intro %}
{% block content %}
{% call page_intro("", heading) %}
  {% if current_user %}
  <a class="text-link" href="{{ url_for('index') }}" data-vis="{{ V }}">Home</a>
  {% endif %}
{% endcall %}
<section class="card compact" data-vis="{{ V }}">
  <div class="inline-status-row" data-vis="{{ V }}">
    <span class="badge" data-vis="{{ V }}">{{ code }}</span>
  </div>
  <p data-vis="{{ V }}">{{ message }}</p>
</section>
{% endblock %}
