{% extends "base.html" %}
{% block content %}
<section class="card narrow" data-vis="requester">
  <h2 data-vis="requester">Sign In</h2>
  <form method="post" class="form-grid" data-vis="requester">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" data-vis="requester">
    <label data-vis="requester">Email
      <input type="email" name="email" required data-vis="requester">
    </label>
    <label data-vis="requester">Password
      <input type="password" name="password" required data-vis="requester">
    </label>
    <button type="submit" data-vis="requester">Login</button>
  </form>
</section>
{% endblock %}
